.container {
    padding: 3em;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.cards-container {
    display: flex;
    width: 100%;
    padding-top: 5em;
}   

.cards-form {
    width: 50%;
    padding: 2em;
}

.cards-grid {
    width: 50%;
    padding: 2em;
}

form .form-group {
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input[type="text"], form input[type="number"], form input[type="password"] {
    width: 100%;
    padding: 0.5em 0.3em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
}

.form-group-inline {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.form-group-inline div {
    width: 30%;
}

form button {
    width: 100%;
    padding: 0.5em 0.3em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.card-row {
    display: flex;
    margin-bottom: 0.2em;
    width: 100%;
}

.card-row-details {
    display: flex;
    background-color: #EEE;
    flex-grow: 1;
    padding: 0.4em  1em;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.2em;
    cursor: pointer;
}

.card-row-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-row-action a {
    display:  block;
    cursor: pointer;
    padding: 1em;
    background-color: #EF5350;
    color: white;
}

.cards-grid .card-row {
    width: 500px;
    margin-top: 1.2em;
    /* display: flex;
    flex-direction: column;
    margin-bottom: 0.2em;
    width: 100%; */
}